* {
	padding: 0;
	margin: 0;
}


body {
 background-image: url("img/79edf5564289c255bc5dad36ca8ecf73.jpg");
}


table {
  width: 632px;
  height: 735px;
  margin: auto;
  padding-top: 235px;
  text-align: center;
}


td {
	text-align: center;
	background-color: white;
	border-radius: 50%;
	font-size: 60px;
	top: 0;
	left: 0;
	border: double;
}




img {
	width: 80px;
	height: 80px;
}

/*.player-prompt0 {
	border: 20px;
	padding: 8px;
	background-color: #F6E465;
	border-radius: 49%;
	display: block;
  width: 302px;
  height: 26px;
  text-align: center;
  margin:43px auto;
  font-family: 'Baloo Chettan', cursive;
}

.player-prompt1 {
	padding: 8px;
	background-color: #F6E465;
	border-radius: 49%;
	display: block;
  width: 302px;
  height: 26px;
  text-align: center;
  margin:50px auto;
  font-family: 'Baloo Chettan', cursive;
}*/